.nav-browse{
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 15px;
    justify-content: space-between;
    .navlinks{
        display: flex;
    }

}

@media screen and (max-width: 880px) {
    .search-bar-container{
        display: none;
    }
}