.browse-folder{
    width: 200px;
    height: 175px;
    margin: 10px;
    z-index: 2;
    cursor: pointer;
    transition: 200ms ease;
    background: url(./folder.svg), none;
    background-position: center;
    background-repeat: no-repeat;
    &:hover{
        transform: translateY(-2px);
    }

    svg{
        position: absolute;
        z-index: -1;
    }
    .content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        .top{
            .path{
                padding: 30px 50px 0px 15px;
                font-size: 0.9rem;
            }
            .name{
                font-family: 'Bold';
                font-size: 1.2rem;
                padding: 0px 50px 0px 15px;
            }

        }
        .bottom{
            width: 100%;
            text-align: right;
            display: flex;
            justify-content: right;
            .subject{
                width: 85%;
                text-align: right;
                padding: 0px 15px 20px 0px;
                font-family: 'Bold';
                font-size: 1.2rem;
                color: rgba(80, 80, 80, 0.5)
            }
        }
    }

}