.search-course-btn{
    width: 280px;
    height: 50px;
    .search-icon{
        width: 30px;
        height: 30px;
        position: absolute;
        background-color: red;
        margin: 10px;
        background: url(./searchicon.svg), none;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }
    input{
        width: 100%;
        height: 100%;
        border: 1.5px solid #000;
        padding: 0px 50px;
        background-color: rgba(255, 255, 255, 0);
        font-family: 'Bold';
        font-size: 1rem;
        &::placeholder{
            font-family: 'Bold';
            color: #000;
            font-size: 1rem;
        }
        &:focus{
            outline-width: 0;
        }
    }
    @media screen and (max-width: 750px) {
        width: 200px;
        height: 40px;

        .search-icon{
            width: 20px;
            height: 20px;
        }
        input{
            font-size: 0.8rem;
            padding: 0px 0px 0px 50px;
            &::placeholder{
                font-family: 'Bold';
                color: #000;
                font-size: 0.8rem;
            }
        }
    }
}