.fav-card {
    width: 200px;
    height: 175px;
    margin: 10px;

    cursor: pointer;
    transition: 200ms ease;

    &:hover {
        transform: translateY(-3px);
    }

    svg {
        position: absolute;
        z-index: -1;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        .top {
            .path {
                padding: 30px 50px 0px 15px;
                font-size: 0.9rem;
            }

            .name {
                font-family: 'Bold';
                font-size: 1.05rem;
                padding: 20px 50px 0px 15px;
            }

        }

        .bottom {
            width: 100%;
            text-align: right;
            display: flex;
            justify-content: right;

            .subject {
                width: 85%;
                display: none;
                text-align: right;
                padding: 0px 15px 20px 0px;
                font-family: 'Bold';
                font-size: 1.2rem;
                color: rgba(80, 80, 80, 0.5)
            }
        }
    }

}