.microsoft-signin-btn{
    width: 280px;
    height: 50px;
    color: #fff;
    background-color: #000;
    display: inline-block;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo{
        background: url(./logo.svg), none;
        background-repeat: no-repeat;
        background-position: center;
        width: 35px;
        height: 35px;
    }
    span{
        display: block;
        margin-left: 10px;
        font-family: 'Bold';
    }
    cursor: pointer;
    transition: 200ms ease;
    &:hover{
        transform: scale(1.02);
    }
}