

.contributebutton{
    color: #fff;
    background-color: #000;
    // display: inline-block;
    margin: 5px;
    padding: 20px 40px;
    font-family: 'Bold';
    font-size: 1.2rem;
    cursor: pointer;
    transition: 200ms ease;
    &:hover{
        transform: scale(1.02);
    }
}