.heading{
    font-family: "Regular";
    font-size: 2.5rem;
    font-weight: normal;    
    &.bold{
        font-family: 'Bold';
    }
    &.thin{
        font-family: 'Light';
    }
    &.light{
        color: #fff;
    }
}