.coursecard{
    width: 190px;
    height: 150px;
    background-color: #fff;
    padding: 10px;
    margin: 10px;
    transition: 150ms ease;
    position: relative;
    cursor: pointer;
    .card-content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    .remove-course{
        display: none;
        position: absolute;
        width: 15px;
        height: 15px;
        background: url(./close.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        right: 0;
        top: 0;
        margin-top: -15px;
        z-index: 99;
    }
    .code{
        background-color: #000;
        color: #fff;
        max-width: 60px;
        padding: 3px 6px;
        text-align: center;
        font-family: 'Bold';
        font-size: 0.8rem;

    }
    .unavailable{
        // background-color: #000;
        // color: #fff;
        padding: 2px 4px;
        text-align: center;
        font-family: 'Bold';
        font-size: 0.65rem;
    }
    .name{
        width: 70%;
        p{
            font-family: 'Bold';
            font-size: 1.1rem;
        }
    }

    

    &.ADD{
        background-color: #000;

        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='5' ry='5' stroke='white' strokeWidth='2' stroke-dasharray='6%2c 14' stroke-dashoffset='0' strokeLinecap='square'/%3e%3c/svg%3e");
        border-radius: 5px;
        .content{
            i{
                margin: 20px;
            }
            p{
                font-size: 1.1rem;
                font-family: 'Light';
            }
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: #fff;
            margin: auto;
        }
    }
    &.true{
        &:hover{
            transform: scale(1.05);
        }
    }
    &.false{
        background-color: #636363 !important;
        cursor: not-allowed !important;
    }
    &:hover{
        .remove-course{
            display: unset;
        }
    }
}