.container {
    position: relative;

    .container-content {
        max-width: 1400px;
        margin: auto;
        padding: 10px 64px;
    }

    &.dark {
        background-color: #000;
    }

    &.light {
        background-color: #fff;
    }

    &.fluid {
        .container-content {
            max-width: 100%;
            padding: 0px;
        }
    }
}