.main-folder{
    max-width: 300px;
    overflow: hidden;
    border-left: 2px solid rgba(0, 0, 0);
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    .folder{
        display: flex;
        align-items: center;

        .horizontal-line{
            width: 20px;
            height: 2px;
            background-color: rgba(0, 0, 0);
            padding-right: 10px;
        }
        .text-content{
            width: 100%;
            background-color: #fff;
            &.current{
                background-color: #FECF6F;
            }

            padding: 0.3em;
            .text{
                font-size: 1rem;
                font-family: 'Bold';
                cursor: pointer;
                &.nobold{
                    font-family: 'Regular';
                }
            }
                .triangle{
                    cursor: pointer;
                    display: inline-block;
                    width: 10px;
                    margin-left: 5px;
                    height: 10px;
                    margin-bottom: 1px;
                    background: url(../../assets/triangle.svg), none;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;

                }
                &.lastfolder{
                    display: none;
                }
            }
    }
    .children{
        display: none;
    }
    &.true{
        .children{
            display: block;
            padding-left: 15px;
        }

    }
    &.false{
        .children{
            display: none;
        }
        .text-content{
            .triangle{
                display: none;
            }
        }
    }
    &.selected{
        .folder{
            .text{
                background-color: #FECF6F;
            }
        }
    }
}