.result{
    &.false{
        background-color: #636363;
        cursor: not-allowed;
    }
    color: #fff;
    background-color: #000;
    padding: 20px 15px;
    cursor: pointer;
    .code{
        margin-right: 1rem;
        font-family: 'Bold';
    }
    .info{
        font-family: "Bold";
        margin-left: 2rem;
    }
}