.head {
    width: 100%;
    text-align: center;
    font-family: 'bold';
    font-size: 2rem;

}

.info-message {
    font-family: 'Bold';
    font-size: 1.2rem;

    
}

.info-message.secondary {
    font-family: 'Regular';
    font-size: 1rem;
    color: grey;
    
}

.course {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2rem;

    .label_course {
        font-family: 'Bold';
        font-size: 1.2rem;
    }

    .input_course {
        width: 60%;
        padding: 0.5rem;
        font-size: 1rem;
        font-weight: 400;
    }
}



.button {
    text-align: center;
    background-color: #FECF6F;
    padding: 1rem;
    font-family: 'bold';
    cursor: pointer;
    &.disabled{
        background-color: grey;
        cursor: not-allowed;
    }
}
.add_modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    // cursor: pointer;
    display: none;

    justify-content: center;
    align-items: center;
}

.show {
    display: block;
    display: flex;
}