.btn {
    color: #fff;
    background-color: #000;
    padding: 10px 20px;
    font-family: 'Bold';
    font-size: 1rem;
    cursor: pointer;
    transition: 200ms ease;

    &:hover {
        transform: scale(1.02);
    }

    align-self: flex-start;
}

@media screen and (max-width:600px) {
    .btn {
        padding: 10px 20px;
    }
}