<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"
            integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
            integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <title>{{if .PageTitle}}{{.PageTitle}}{{else}}CourseHub Admin{{ end }}</title>
    </head>
    <body>
        <div class="ui container">
            <div class="ui menu" style="margin-top: 12px">
                <div class="header item">CourseHub Admin</div>
                <a class="item" href="http://www.coursehubiitg.in">Site </a>
            </div>
            <div class="ui negative message" id="create-error-msg">
                <div class="header">Failed to create course.</div>
                <p>Please try again</p>
            </div>
            <h2>Course details not found!</h2>
            <h5>
                Course code :
                <span id="coursecode">
                    {{.Data.code}}
                </span>
            </h5>
            <p>Fill out the course details properly:</p>
            <div class="ui input">
                <input type="text" placeholder="Course Name" id="coursename" />
            </div>
            <button class="ui primary button" id="btn">Create Course</button>
        </div>
        <script>
            let courseName = document.getElementById("coursename");
            let courseCode = document.getElementById("coursecode").innerText;
            var createErr = document.getElementById("create-error-msg");
            createErr.style.display = "none";
            const url = new URL(window.location.href);
            let createerror = url.searchParams.get("createerror");
            if (createerror == "true") {
                createErr.style.display = "block";
            }

            let btn = document.getElementById("btn");
            btn.addEventListener("click", () => {
                btn.disabled = true;
                btn.innerText = "Please wait...";
                data = { code: courseCode, name: courseName.value };
                fetch("/course", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                }).then((resp) => {
                    if (resp.status === 200) {
                        window.location = url.pathname;
                    } else {
                        window.location = url.pathname + "?createerror=true";
                    }
                });
            });
        </script>
    </body>
</html>
