<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"
            integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
            integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <title>{{if .PageTitle}}{{.PageTitle}}{{else}}CourseHub Admin{{end}}</title>
    </head>
    <body>
        <div class="ui container">
            <div class="ui menu" style="margin-top: 12px">
                <div class="header item">CourseHub Admin</div>
                <a class="item" href="http://www.coursehubiitg.in">Site </a>
            </div>
            <h1>All Contributions</h1>
            <div class="ui three column grid">
                <div class="row">
                    <div class="column">
                        <h4>Apply Filter</h4>
                        <form class="ui form" method="get">
                            <div class="field">
                                <input type="text" name="code" placeholder="Course Code" />
                            </div>
                            <button class="ui button" type="submit">Apply</button>
                            <a href="/"> Clear </a>
                        </form>
                    </div>
                    <div class="column">
                        <p></p>
                    </div>
                    <div class="column">
                        <p></p>
                    </div>
                </div>
            </div>
            <div class="ui relaxed divided list">
                {{range $key, $value := .Data}}
                <div class="item">
                    <i class="large file alternate outline middle aligned icon"></i>
                    <div class="content">
                        <a href="/{{$value.ContributionId}}" class="header"
                            >{{$value.CourseCode}} - {{$value.Folder}}</a
                        >
                        <div class="description">{{$value.Year}} - {{$value.Description}}</div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
    </body>
</html>
