<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.js"
            integrity="sha512-Xo0Jh8MsOn72LGV8kU5LsclG7SUzJsWGhXbWcYs2MAmChkQzwiW/yTQwdJ8w6UA9C6EVG18GHb/TrYpYCjyAQw=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        ></script>
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.5.0/semantic.min.css"
            integrity="sha512-KXol4x3sVoO+8ZsWPFI/r5KBVB/ssCGB5tsv2nVOKwLg33wTFP3fmnXa47FdSVIshVTgsYk/1734xSk9aFIa4A=="
            crossorigin="anonymous"
            referrerpolicy="no-referrer"
        />
        <title>{{if .PageTitle}}{{.PageTitle}}{{else}}CourseHub Admin{{end}}</title>
    </head>
    <body>
        <div class="ui container" style="margin-top: 12px">
            <div class="ui menu">
                <div class="header item">CourseHub Admin</div>
                <a class="item" href="http://www.coursehubiitg.in">Site </a>
            </div>
            <a href="/{{.Data.Contribution.ContributionId}}">Back</a>
            <h1>Upload Files</h1>
            <p>Target Year : {{.Data.Contribution.Year}}</p>
            <p>Target Folder : {{.Data.Contribution.Folder}}</p>
            <h4>Need to create Year folder?</h4>
            <div class="ui input">
                <input type="number" placeholder="Year" id="create-folder-input" required min="2019" max="2099">
                <button class="ui button" id="create-folder-btn" code="{{.Data.Contribution.CourseCode}}"">Create</button>
            </div>
            <div class="ui negative message" id="create-error-msg">
                <div class="header">Failed to create folders.</div>
                <p>Please try again</p>
            </div>
            <div class="ui success message" id="create-msg">
                <div class="header">Folders created successfully.</div>
                <p>Please process <strong>to upload</strong></p>
            </div>

            <h4>Files</h4>
            <div class="ui negative message" id="error-msg">
                <div class="header">Failed to upload.</div>
                <p>Please try again</p>
            </div>
            <div class="ui success message" id="uploaded-msg">
                <div class="header">File uploaded successfully.</div>
                <p>Please upload another or <strong>mark contribution as approved</strong></p>
            </div>
            <div class="ui active dimmer" id="loader">
                <div class="ui text loader">Processing, Please wait...</div>
            </div>
            <table class="ui celled table">
                <tbody>
                    {{range $key, $value := .Data.Files}}
                    <tr id="file-container-{{$key}}">
                        <td
                            data-label=""
                            id="file-{{$key}}"
                            value="{{$value.Id}}"
                            name="{{$value.Name}}"
                        >
                            {{$value.Name}}
                        </td>
                        <td data-label="">
                            <select name="" id="select-{{$key}}" class="ui search dropdown">
                                {{range $index, $folder := $.Data.AllowedFolders}}
                                <option value="{{$folder.Id}}">
                                    {{$folder.Path}} - {{$folder.Name}}
                                </option>
                                {{end}}
                            </select>
                        </td>

                        <td data-label="">
                            <button class="ui button primary" id="upload-btn" value="{{$key}}">
                                Upload
                            </button>
                        </td>
                        <td data-label="">
                            <a href="{{$value.WebUrl}}" target="_blank">
                                <button class="ui button secondary">Verify</button>
                            </a>
                        </td>
                    </tr>
                    {{end}}
                </tbody>
            </table>
        </div>
        <script>
            let uploadBtns = document.querySelectorAll("#upload-btn");
            uploadBtns.forEach((btn) => btn.addEventListener("click", handleUpload));
            var loader = document.getElementById("loader");
            var errMsg = document.getElementById("error-msg");
            var uploadedMsg = document.getElementById("uploaded-msg");
            var createMsg = document.getElementById("create-msg");
            var createErr = document.getElementById("create-error-msg");
            const url = new URL(window.location.href);
            let error = url.searchParams.get("error");
            let uploaded = url.searchParams.get("uploaded");
            let created = url.searchParams.get("created");
            let createerror = url.searchParams.get("createerror");
            let createFolderBtn = document.getElementById("create-folder-btn");
            let createFolderInput = document.getElementById("create-folder-input");

            createFolderBtn.addEventListener("click", handleCreateFolders);

            loader.style.display = "none";
            errMsg.style.display = "none";
            createErr.style.display = "none";
            createMsg.style.display = "none";
            uploadedMsg.style.display = "none";

            if (error == "true") {
                errMsg.style.display = "block";
            }
            if (uploaded == "true") {
                uploadedMsg.style.display = "block";
            }
            if (created == "true") {
                createMsg.style.display = "block";
            }
            if (createerror == "true") {
                createErr.style.display = "block";
            }

            function handleCreateFolders() {
                let year = createFolderInput.value;
                if(year < 2018 || year > 2099){
                    alert("Invalid year.")
                    return
                }
                loader.style.display = "block";
                uploadBtns.forEach((btn) => (btn.disabled = true));
                code = createFolderBtn.getAttribute("code");
                let data = {"code":code, "year": year.toString()};


                fetch("/folder", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                })
                    .then((resp) => {
                        if (resp.status === 201) {
                            window.location = url.pathname + "?created=true";
                        } else {
                            window.location = url.pathname + "?createerror=true";
                        }
                    })
                    .catch((e) => {
                        window.location = url.pathname + "?error=true";
                    });
            }

            function handleUpload(e) {
                // console.log(window.location);
                loader.style.display = "block";
                uploadBtns.forEach((btn) => (btn.disabled = true));
                let id = e.target.value;
                let select = document.querySelector(`#select-${id}`);
                let file = document.querySelector(`#file-${id}`);
                let tableRow = document.getElementById(`file-container-${id}`);

                destinationFolderId = select.value;
                fileId = file.getAttribute("value");
                fileName = file.getAttribute("name");

                let data = {
                    fileName,
                    fileId,
                    destinationFolderId,
                };
                fetch("/upload", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json",
                    },
                    body: JSON.stringify(data),
                })
                    .then((resp) => {
                        if (resp.status === 200) {
                            uploadedMsg.style.display = "block";
                            tableRow.style.display = "none";
                            loader.style.display = "none";
                            uploadBtns.forEach((btn) => (btn.disabled = false));
                        } else {
                            window.location = url.pathname + "?error=true";
                        }
                    })
                    .catch((e) => {
                        window.location = url.pathname + "?error=true";
                    });
            }
        </script>
    </body>
</html>
