.share-heading {
    width: 100%;
    text-align: left;
    font-family: 'bold';
    font-size: 2rem;
}

.encloser {
    width: 100%;

    display: flex;
    flex-direction: row;
    border: 1px solid black;
    padding: 0.5rem;

    .shareinput {
        width: 100%;
        text-overflow: ellipsis;
        border: none;
        font-weight: 400;
        font-size: 1rem;
    }

    .shareinput:focus {
        border: none;
        outline: none;
    }

    .clip {
        background: url('./assets/clipboard.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        width: 6%;
        margin-left: 1rem;

        &:hover {
            scale: 1.2;
        }
    }

}

.bottom-banner {
    height: 6rem;
    text-align: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-color: aquamarine;
}