nav{
    background-color: #000;
    .nav-content{
        max-width: 1400px;
        margin: auto;
        padding: 30px 64px;
        display: flex;
        color: #fff;
        align-items: center;
        justify-content: space-between;
        .navlinks{
            display: flex;
        }
        .abs{
            position: absolute;
            // color: #000;
            margin: 18px -25px;
            color: #000;
            
        }
    }
}