.wrapper {
    margin: auto;
    width: 40%;
    padding: 3rem 4rem;
    background-color: white;
    height: auto;
    position: absolute;

    z-index: 200;
    opacity: 1;

    div {
        margin-bottom: 1rem;
    }
}

@media screen and (max-width:1270px) {
    .wrapper {
        width: 50%;
    }
}

@media screen and (max-width:1024px) {
    .wrapper {
        width: 55%;
    }
}

@media screen and (max-width:960px) {
    .wrapper {
        width: 65%;
        padding: 2rem 3rem;
    }
}

@media screen and (max-width:760px) {
    .wrapper {
        width: 65%;
        padding: 2rem 3rem;
    }
}

@media screen and (max-width:720px) {
    .wrapper {
        width: 70%;
        padding: 1rem 2rem;
    }
}