.split{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exam-card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.coursecard-container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: start;
}

.fav-container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 0px;
}